@if (homepageHero()) {
    <!--TODO CLEAN UP HERO, remove one layer-->
    @let hero = homepageHero()?.fields?.hero?.fields;
    <div class="title-section wide-bg-color--primary">
        <div class="title-section__text">
            <h1>
                {{ hero?.title }} <strong>{{ hero?.titleHighlight }}</strong>
            </h1>
            <div class="title-section__text__description" [innerHTML]="hero?.description | contentRichTextRenderer"></div>
            <div>{{ hero?.ctaTitle }}</div>
        </div>
        <rz-title-images 
            [primaryImage]="hero?.primaryImage" 
            [secondaryImage]="hero?.secondaryImage"
        />
    </div>
}
<!--TODO replace by separate component-->
@defer {
    @if (homepageSections) {
        @let sections = homepageSections()?.fields?.sections;
        @for (section of sections; track section.sys.id) {
            @if (section.sys.contentType.sys.id === NEWS_LIST_SECTION_ID) {
                <rz-news-list [newsList]="section" />
            }
        }
    }
}
@placeholder {
    <div class="home-page-sections"></div>
}