@use 'mixins' as mx;

.title-images {
    display: grid;
    grid-template-columns: .6fr 1fr;
    align-items: center;
    width: 100%;
    height: 100%;
    max-height: 548px;

    @include mx.media-breakpoint-down(md) {
        display: flex;
        flex-flow: column-reverse;
        width: 100%;
        height: 100%;
    }

    img {
        display: block;
        width: 100%;
        object-fit: cover;
        border-radius: 1rem;
    }

    &__primary {
        justify-self: end;
        height: 548px;
        clip-path: polygon(100% 97.08%, 100% 97.08%, 99.96% 97.554%, 99.845% 98.003%, 99.66% 98.422%, 99.412% 98.805%, 99.107% 99.145%, 98.752% 99.437%, 98.353% 99.674%, 97.916% 99.851%, 97.447% 99.962%, 96.952% 100%, 3.173% 100%, 3.173% 100%, 2.577% 99.945%, 2.025% 99.787%, 1.526% 99.539%, 1.088% 99.211%, .722% 98.815%, .435% 98.363%, .236% 97.866%, .135% 97.336%, .14% 96.784%, .26% 96.222%, 30.477% 2.062%, 30.477% 2.062%, 30.618% 1.706%, 30.802% 1.377%, 31.027% 1.076%, 31.287% .807%, 31.579% .571%, 31.9% .373%, 32.245% .214%, 32.611% .097%, 32.994% .025%, 33.39% 0%, 96.952% 0%, 96.952% 0%, 97.447% .038%, 97.916% .149%, 98.353% .326%, 98.752% .563%, 99.107% .855%, 99.412% 1.195%, 99.66% 1.578%, 99.845% 1.997%, 99.96% 2.446%, 100% 2.92%, 100% 97.08%);
        
        @include mx.media-breakpoint-down(md) {
            height: 22rem;
            margin-bottom: -5.5rem;
            clip-path: polygon(0% 6.854%, 0% 6.854%, .073% 5.742%, .283% 4.687%, .62% 3.704%, 1.072% 2.806%, 1.627% 2.007%, 2.275% 1.322%, 3.002% .765%, 3.8% .349%, 4.654% .09%, 5.556% 0%, 94.444% 0%, 94.444% 0%, 95.346% .09%, 96.2% .349%, 96.997% .765%, 97.725% 1.322%, 98.373% 2.007%, 98.928% 2.806%, 99.38% 3.704%, 99.717% 4.687%, 99.927% 5.742%, 100% 6.854%, 100% 93.39%, 100% 93.39%, 99.899% 94.707%, 99.609% 95.93%, 99.151% 97.039%, 98.545% 98.016%, 97.813% 98.84%, 96.975% 99.493%, 96.052% 99.955%, 95.063% 100.206%, 94.031% 100.228%, 92.975% 100%, 4.086% 69.92%, 4.086% 69.92%, 3.385% 69.62%, 2.734% 69.215%, 2.139% 68.715%, 1.605% 68.129%, 1.138% 67.466%, .743% 66.735%, .426% 65.945%, .193% 65.105%, .049% 64.223%, 0% 63.31%, 0% 6.854%);
            transform: translate(0);
        }
    }

    &__secondary {
        justify-self: end;
        height: 548px;
        margin-right: -45%;
        clip-path: polygon(0% 97.08%, 0% 97.08%, .068% 97.554%, .265% 98.003%, .58% 98.422%, 1.002% 98.805%, 1.521% 99.145%, 2.126% 99.437%, 2.807% 99.674%, 3.552% 99.851%, 4.351% 99.962%, 5.193% 100%, 43.552% 100%, 43.552% 100%, 44.227% 99.975%, 44.879% 99.903%, 45.503% 99.786%, 46.091% 99.627%, 46.638% 99.429%, 47.136% 99.193%, 47.579% 98.924%, 47.961% 98.623%, 48.276% 98.294%, 48.516% 97.938%, 100% 3.778%, 100% 3.778%, 100.205% 3.216%, 100.213% 2.664%, 100.041% 2.134%, 99.702% 1.637%, 99.213% 1.185%, 98.588% .789%, 97.843% .461%, 96.992% .213%, 96.051% .055%, 95.036% 0%, 5.193% 0%, 5.193% 0%, 4.351% .038%, 3.552% .149%, 2.807% .326%, 2.126% .563%, 1.521% .855%, 1.002% 1.195%, .58% 1.578%, .265% 1.997%, .068% 2.446%, 0% 2.92%, 0% 97.08%);
    
        @include mx.media-breakpoint-down(md) {
            height: 12rem;
            margin-right: 0;
            clip-path: polygon(100% 87.786%, 100% 87.786%, 99.927% 89.767%, 99.717% 91.647%, 99.38% 93.399%, 98.928% 95%, 98.373% 96.423%, 97.726% 97.644%, 96.998% 98.637%, 96.2% 99.377%, 95.346% 99.84%, 94.444% 100%, 5.556% 100%, 5.556% 100%, 4.654% 99.84%, 3.8% 99.377%, 3.002% 98.637%, 2.275% 97.644%, 1.627% 96.423%, 1.072% 95%, .62% 93.399%, .283% 91.647%, .073% 89.767%, 0% 87.786%, 0% 12.962%, 0% 12.962%, .101% 10.616%, .391% 8.437%, .849% 6.46%, 1.455% 4.719%, 2.187% 3.25%, 3.025% 2.086%, 3.948% 1.263%, 4.937% .815%, 5.969% .777%, 7.025% 1.183%, 95.914% 54.788%, 95.914% 54.788%, 96.615% 55.323%, 97.266% 56.044%, 97.861% 56.934%, 98.395% 57.978%, 98.862% 59.16%, 99.257% 60.463%, 99.574% 61.871%, 99.807% 63.369%, 99.951% 64.939%, 100% 66.566%, 100% 87.786%);
        }
    }
}