// Breakpoints
$breakpoints: (
  xs: 0,
  sm: 576px,    // Mobile landscape / Small tablets
  md: 768px,    // Tablets
  lg: 992px,    // Small desktops / Laptops
  xl: 1200px,   // Large desktops
  xxl: 1400px   // Extra large screens
);

// Fonts
$font-family-regular: 'Okta Neue Regular', 'Noto Sans', 'Arial', sans-serif;
$font-family-bold: 'Okta Neue Bold', 'Noto Sans Bold', 'Arial', sans-serif;
$font-family-medium: 'Okta Neue Medium', 'Noto Sans Bold', 'Arial', sans-serif;
$font-family-light: 'Okta Neue Light', 'Noto Sans Light', 'Arial', sans-serif;
$font-family-semibold: 'Okta Neue Semi', 'Noto Sans Semi', 'Arial', sans-serif;