/* You can add global styles to this file, and also import other style files */
@use 'fonts';

body {
    font-family: 'Okta Neue Regular', sans-serif;
    color: #00411a;
    margin: 0 auto;
    padding: 0 2rem;
    max-width: 1320px;

    .wide-bg-color,
    .wide-bg-color--primary {
        position: relative;
    }
    
    .wide-bg-color::before,
    .wide-bg-color--primary::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        width: 100vw;
        margin-left: -50vw;
        z-index: -1; /* Places background behind the text */
    }

    .wide-bg-color::before {
        background-color: #00411a;
    }
    
    .wide-bg-color--primary::before {
        background-color: #487e38;
    }

    a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}