@use 'mixins' as mx;

.footer {
    &__content {
        display: grid;
        gap: 48px;
        color: #ffffff;
        padding: 64px 0;
        
        @include mx.media-breakpoint-down(md) {
            padding: 48px 36px;
        }
        
        &__columns {
            display: grid;
            grid-template-columns: 2fr repeat(3, 1fr);
            gap: 30px;

            @include mx.media-breakpoint-down(md) {
                grid-template-columns: 1fr;
            }
            
            &__logo {
                max-height: 40px;
                margin-top: -12px;
        
                @include mx.media-breakpoint-down(md) {
                    max-height: 30px;
                    margin-top: 0;
                }
            }
        
            &__links-collection,
            &__company-info {
                display: grid;
                gap: 16px;
                align-content: start;

                p {
                    margin: 0;
                    font-size: 18px;
                }
                
                &__item {
                    color: #ffffff;
                    text-decoration: none;

                    &--preline {
                        white-space: pre-line;
                    }
                }
            }
        }
    
        &__secondary-links {
            display: grid;
            grid-template-columns: 1fr auto;

            @include mx.media-breakpoint-down(md) {
                grid-template-columns: 1fr;
                gap: 16px;
            }

            &__legal {
                font-size: 14px;
                display: grid;
                gap: 16px;
    
                &__links {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 8px;
                }
                
                a {
                    color: white;
                    text-decoration: none;
        
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            &__social {
                display: grid;
                grid-auto-flow: column;
                gap: 16px;

                @include mx.media-breakpoint-down(md) {
                    justify-content: start;
                }

                &__icon {
                    display: flex;
                    width: 32px;
                    height: 32px;
                    background-color: white;
                    border-radius: 50%;
                    align-items: center;
                    justify-content: center;
                    color: #00411A;
                    font-size: 20px;
                }
            }
        }
    }

}