<div class="footer wide-bg-color">
    @defer {
        @if (footer && footer()) {
            @let ft = footer();
            <div class="footer__content">
                <div class="footer__content__columns">
                    <img src="img/logo/RZ_logo_white.svg" alt="Rijk Zwaan Logo White" class="footer__content__columns__logo" fetchpriority="high" routerLink="/"/>
                    @for (linksCollection of ft!.fields.collection; track linksCollection.sys.id) {
                        <div class="footer__content__columns__links-collection">
                            <h3><strong class="footer__content__columns__links-collection__title">{{ linksCollection.fields.name }}</strong></h3>
                            <ul class="footer__content__columns__links-collection__list">
                                @for (link of linksCollection.fields.links; track link.sys.id) {
                                    <li class="footer__content__columns__links-collection__list__item">
                                        <a  routerLink="{{ link.fields.url }}" class="footer__content__columns__links-collection__list__item__link">
                                            {{ link.fields.name }}
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    }
                    <div class="footer__content__columns__company">
                        <h3><strong class="footer__content__columns__company__title">{{ ft!.fields.company.fields.name }}</strong></h3>
                        <div class="footer__content__columns__company-info">
                            <a href="tel:{{ ft!.fields.company.fields.phone }}">
                                {{ ft!.fields.company.fields.phone }}
                            </a>
                            <a href="tel:{{ ft!.fields.company.fields.eMail }}">
                                {{ ft!.fields.company.fields.eMail }}
                            </a>
                            <span class="footer__content__columns__company-info__address">
                                {{ ft!.fields.company.fields.address }}
                            </span>
                        </div> 
                    </div>
                </div>
                <div class="footer__content__legal">
                    <span>{{ ft!.fields.copyrightText }}</span>
                    <div class="footer__content__legal__links">
                        @for (link of ft!.fields.legalLinkList.fields.links; track link.sys.id; let isLast = $last) {
                            <a routerLink="{{ link.fields.url }}" class="footer__content__legal__links__link">
                                {{ link.fields.name }}
                            </a> 
                            @if (!isLast) {
                                <span> | </span>
                            }
                        }
                    </div>
                </div>
            </div>
        }
    }
    @placeholder {
        <div>Placeholder footer</div> <!-- TODO -->
    }
</div>