<div class="home-page">
    @if (homepageHero()) {
        @let hero = homepageHero()?.fields?.hero?.fields;
        <div class="home-page__hero wide-bg-color--primary">
            <h1>
                {{ hero?.title }} <strong>{{ hero?.titleHighlight }}</strong>
            </h1>
            <!--CLEAN UP HERO, remove one layer-->
            <div class="home-page__hero__images">
                <img 
                    class="home-page__hero__images__secondary"
                    src="{{ hero?.secondaryImage?.fields?.asset?.[0]?.src }}" 
                    alt="{{ hero?.secondaryImage?.fields?.altText }}"
                    fetchpriority="high"
                />
                <img 
                    class="home-page__hero__images__primary"
                    src="{{ hero?.primaryImage?.fields?.asset?.[0]?.src }}" 
                    alt="{{ hero?.primaryImage?.fields?.altText }}"
                    fetchpriority="high"
                />
            </div>
        </div>
    }
</div>
