.home-page {
    min-height: 400px;

    &__hero {
        display: grid;
        padding: 1rem 0;
        grid-template-columns: 1fr 2fr;
        gap: 2rem;
        align-items: center;
        color: white;

        &__images {
            display: grid;
            grid-template-columns: 0.6fr 1fr;
            align-items: center;
            width: 100%;
            height: 100%;
            max-height: 548px;  // TODO change into variable

            &__secondary {
                justify-self: end;
                height: 548px; // TODO change into variable
                margin-right: -45%;
                clip-path: polygon(0% 97.08%, 0% 97.08%, .068% 97.554%, .265% 98.003%, .58% 98.422%, 1.002% 98.805%, 1.521% 99.145%, 2.126% 99.437%, 2.807% 99.674%, 3.552% 99.851%, 4.351% 99.962%, 5.193% 100%, 43.552% 100%, 43.552% 100%, 44.227% 99.975%, 44.879% 99.903%, 45.503% 99.786%, 46.091% 99.627%, 46.638% 99.429%, 47.136% 99.193%, 47.579% 98.924%, 47.961% 98.623%, 48.276% 98.294%, 48.516% 97.938%, 100% 3.778%, 100% 3.778%, 100.205% 3.216%, 100.213% 2.664%, 100.041% 2.134%, 99.702% 1.637%, 99.213% 1.185%, 98.588% .789%, 97.843% .461%, 96.992% .213%, 96.051% .055%, 95.036% 0%, 5.193% 0%, 5.193% 0%, 4.351% .038%, 3.552% .149%, 2.807% .326%, 2.126% .563%, 1.521% .855%, 1.002% 1.195%, .58% 1.578%, .265% 1.997%, .068% 2.446%, 0% 2.92%, 0% 97.08%);
            }

            &__primary {
                justify-self: end;
                height: 548px;
                clip-path: polygon(100% 97.08%, 100% 97.08%, 99.96% 97.554%, 99.845% 98.003%, 99.66% 98.422%, 99.412% 98.805%, 99.107% 99.145%, 98.752% 99.437%, 98.353% 99.674%, 97.916% 99.851%, 97.447% 99.962%, 96.952% 100%, 3.173% 100%, 3.173% 100%, 2.577% 99.945%, 2.025% 99.787%, 1.526% 99.539%, 1.088% 99.211%, .722% 98.815%, .435% 98.363%, .236% 97.866%, .135% 97.336%, .14% 96.784%, .26% 96.222%, 30.477% 2.062%, 30.477% 2.062%, 30.618% 1.706%, 30.802% 1.377%, 31.027% 1.076%, 31.287% .807%, 31.579% .571%, 31.9% .373%, 32.245% .214%, 32.611% .097%, 32.994% .025%, 33.39% 0%, 96.952% 0%, 96.952% 0%, 97.447% .038%, 97.916% .149%, 98.353% .326%, 98.752% .563%, 99.107% .855%, 99.412% 1.195%, 99.66% 1.578%, 99.845% 1.997%, 99.96% 2.446%, 100% 2.92%, 100% 97.08%);
            }

            &__primary, &__secondary {
                width: 100%;
                object-fit: cover;
                border-radius: 1rem;
            }
        }
    }
}